p {
 font-family: Arial;
 font-size: 20px;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
 text-align: center;
}

/* comentario alt shif a 
html color codes
brandcolors
cssreferenceio typography color

crear repo cv batman
*/